.recipe-form
	font-size 18px
	width 600px
	margin 40px auto
	&__title
		margin-bottom 10px
		text-align center
		font-size 22px
	&__overflow
		&:after
			content ""
			clear both 
			display block
		margin-top 10px
	&__options
		display inline-block
		float left
	&__tags 
		margin-top 10px 	