.header
	&__title
		height 250px
		line-height 300px
		font-size 47px
		text-align center
		background url('../../../assets/images/food.jpg') center center
		color #fff
		
.tabs
	height 60px 
	line-height 60px
	background #009688
	&:after 
		content ''
		display inline-block
		width 100%
		
.tab 
	display inline-block 
	width 33%
	text-align center
	text-decoration none 
	color #E0F2F1
	font-size 18px
	&:hover 
		span
			border-bottom solid 2px #80CBC4
	span 
		vertical-align middle
	svg 
		vertical-align middle
		margin-right 5px